<script>
    'use strict';

    $(document).ready(function() {
    
        // Area chart
        
        var options = {
            series: [{{service_category_housecleaning}},{{service_category_officecleaning}},{{service_category_other}}],
            chart: {
            width: 380,
            type: 'pie',
          },
          labels: ['House cleaning', 'Office Cleaning', 'Others'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
          };
  
          var chart = new ApexCharts(document.querySelector("#service_category"), options);
          chart.render();
        
        
      
     
        // Bar chart
        
        if ($('#user_count').length > 0) {
        var optionsBar = {
            chart: {
                type: 'bar',
                height: 350,
                width: '100%',
                stacked: true,
                toolbar: {
                    show: false
                },
            },
            dataLabels: {
                enabled: false
            },
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                }
            },
            series: [{
                name: "Housekeeper",
                color: '#fdbb38',
                data: [{{housekeeper_count}}],
            }, {
                name: "Customer",
                color: '#19affb',
                data: [{{customer_count}}],
            },
            ],
            labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
            xaxis: {
                labels: {
                    show: false
                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
            },
            yaxis: {
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    style: {
                        colors: '#777'
                    }
                }
            },
            title: {
                text: '',
                align: 'left',
                style: {
                    fontSize: '18px'
                }
            }
    
        }
      
        var chartBar = new ApexCharts(document.querySelector('#user_count'), optionsBar);
        chartBar.render();
        }
        
        var options = {
            series: [{{housekeeper_leave_approve}},{{housekeeper_leave_reject}},{{housekeeper_leave_pending}},],
            chart: {
            type: 'donut',
          },
         labels: ['Approved', 'Rejected', 'Pending'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
          };
  
          var chart = new ApexCharts(document.querySelector("#leave"), options);
          chart.render();
         
          var options = {
            series: [{{housekeeper_count}},{{customer_count}}],
            chart: {
            width: '100%',
            type: 'pie',
          },
          labels: ["Housekeeper", "Customer", ],
          theme: {
            monochrome: {
              enabled: true
            }
          },
          plotOptions: {
            pie: {
              dataLabels: {
                offset: -5
              }
            }
          },
          title: {
            text: "Users ratio"
          },
          dataLabels: {
            formatter(val, opts) {
              const name = opts.w.globals.labels[opts.seriesIndex]
              return [name, val.toFixed(1) + '%']
            }
          },
          legend: {
            show: false
          }
          };
  
          var chart = new ApexCharts(document.querySelector("#count"), options);
          chart.render();
        
        
      
  
  
  
        
      
  
  
        
        
        
      
  
    });



</script>