
{% extends "Customer/base.html" %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'assets/css/service.css' %}" rel="stylesheet">
</head>
    <!-- Page Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5">
        <div class="container py-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="display-4 mb-4 mb-md-0 text-secondary text-uppercase">Service</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-sm btn-outline-light" href="">Home</a>
                        <i class="fas fa-angle-double-right text-light mx-2"></i>
                        <a class="btn btn-sm btn-outline-light disabled" href="">Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

{% for i in service %}
    <!-- Services Start -->
    <div class="py-5 service-17">
        <div class="container">
            <!-- Row  -->
            <div class="card-group">
                <!-- card  -->
                <div class="card mb-0">
                    <div class="card-body text-center">
                        <div class="p-3">
                            <div class="my-3 display-5 text-info-gradiant">{{i.name}}</div>
                            <h5 class="font-weight-medium">Rs {{i.price}}/Month</h5>
                            <p>{{i.description}}</p>
                           
                        </div>
                    </div>
                </div>
                <!-- card  -->
                <div class="card mb-0">
                    <img src="/{{i.image}}" />
                </div>
                <!-- card  -->
                
                <!-- card  -->
                
        </div>
    </div><!-- Services End -->
    {% endfor %}

    <!-- Contact Info Start -->
    
{% endblock content %}