{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form method="post" action="{% url 'update_service'%}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12">
    <h5 class="form-title"><span>Edit Service</span></h5>
    </div>
    {% include 'include/messages.html' %}                      
    <div class="col-sm-11">
    <div class="form-group">
    <label>Service Pic</label>
    <input type="file" class="form-control"name="image">
    </div>
    </div>
    <div class="col-sm-11">
    <div class="form-group">
    <label>Service Name</label>
    <input type="text" class="form-control" name="name"value="{% for i in service %} {{i.name}} {% endfor %}">
    <input type="text" class="form-control"name="service_id"value="{% for i in service %} {{i.id}} {% endfor %}"hidden>
    </div>
    </div>
    
    <div class="col-sm-11">
        <div class="form-group">
        <label>Service Price</label>
        <input type="text"class="form-control" name="price"value ="{% for i in service %} {{i.price}} {% endfor %}">
        </div>
        </div>
        <div class="col-sm-11">
            <div class="form-group" >
               <label>Category</label>
               <select class="form-control" name ="category" required>
                    <option value="Select State ">Select Category</option>
                    <option value="House Cleaning">House Cleaning</option>
                    <option value="Office Cleaning">Office Cleaning</option>
                    <option value="Other">Other</option>
    
                    
                    </select>
                    
                    
            </div>
         </div>
    

        <div class="col-sm-11">
            <div class="form-group">
                <label>Service Description</label>
                <textarea class="form-control" name ="description">{% for i in service %} {{i.description}} {% endfor %}
    
                </textarea>  
            </div>
            </div>
            
        
    <div class="col-12">
    <button type="submit" class="btn btn-primary">Update Service</button>
    </div>
    </div>
    </form>
    
    </div>
    </div>
    
{% endblock content %}