
{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">
    <div class="page-header">
       <div class="row">
          <div class="col-sm-12">
             <h3 class="page-title">Welcome Admin!</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
          <div class="card bg-one w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fa fa-home"></i>
                   </div>
                   <div class="db-info">
                      <h3>{{housekeeper_count}}+</h3>
                      <h6>Housekeeper</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
          <div class="card bg-two w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-user"></i>
                   </div>
                   <div class="db-info">
                      <h3>{{customer_count}}+</h3>
                      <h6>Customers</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
         <div class="col-xl-4 col-sm-9 col-15 d-flex">
            <div class="card bg-four w-100">
               <div class="card-body">
                  <div class="db-widgets d-flex justify-content-between align-items-center">
                     <div class="db-icon">
                        <i class="fas fa-building"></i>
                     </div>
                     <div class="db-info">
                        <h3>{{service_count}}+</h3>
                        <h6>Services</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
       </div>
    </div>
    <div class="row">
       <div class="col-md-12 col-lg-6">
          <div class="card card-chart">
             <div class="card-header">
                <div class="row align-items-center">
                   <div class="col-6">
                      <h5 class="card-title">Service Category</h5>
                   </div>
                   <div class="col-6">
                      <ul class="list-inline-group text-right mb-0 pl-0">
                         <li class="list-inline-item">
                            <div class="form-group mb-0 amount-spent-select">
                               
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="card-body">
                <div id="service_category"></div>
             </div>
          </div>
       </div>
       <div class="col-md-12 col-lg-6">
          <div class="card card-chart">
             <div class="card-header">
                <div class="row align-items-center">
                   <div class="col-6">
                      <h5 class="card-title">User Data</h5>
                   </div>
                   <div class="col-6">
                      <ul class="list-inline-group text-right mb-0 pl-0">
                         <li class="list-inline-item">
                            <div class="form-group mb-0 amount-spent-select">
                               
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="card-body">
                <div id="user_count"></div>
             </div>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
         <div class="card card-chart">
            <div class="card-header">
               <div class="row align-items-center">
                  <div class="col-6">
                     <h5 class="card-title">Leave History</h5>
                  </div>
                  <div class="col-6">
                     <ul class="list-inline-group text-right mb-0 pl-0">
                        <li class="list-inline-item">
                           <div class="form-group mb-0 amount-spent-select">
                              
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="card-body">
               <div id="leave"></div>
            </div>
         </div>
      </div>
      <div class="col-md-12 col-lg-6">
         <div class="card card-chart">
            <div class="card-header">
               <div class="row align-items-center">
                  <div class="col-6">
                     <h5 class="card-title">Users </h5>
                  </div>
                  <div class="col-6">
                     <ul class="list-inline-group text-right mb-0 pl-0">
                        <li class="list-inline-item">
                           <div class="form-group mb-0 amount-spent-select">
                              
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="card-body">
               <div id="count"></div>
            </div>
         </div>
      </div>
   </div>
    
   </div>
   {% include 'include/chart.html' %}

{% endblock %}